

%center
	%h1
		= "Welcome" 
		= link_to @currUser.name,showprofile_path 
		= " (ID = #{@currUser.id})"
		%br


	%h2
		= "User's Events:"
		%br

	%table#events
		%thead
			%tr
				%th Event Title
				%th Owner
				%th Start Time
				%th End Time
				%th Location
				%th Status
				%th Description
		%tbody
		- @allevents.each do |event|
			%tr
				%td{:class => @title_header}= link_to event.title,user_event_path(params[:id],event.id)
				%td=  User.find_by_id(event.ownerid).name
				%td= event.starttime
				%td= event.endtime
				%td= event.location
				%td= event.status
				%td= event.description

	= link_to 'Add New Event',new_user_event_path(params[:id])
	%br
	%br
	%br

	%h2
		= "User's Friends:"
	%table#events
		%thead
			%tr
				%th Name
				%th Set up a meeting
		%tbody
		- @friends.each do |friend|
			%tr
				%td=  friend.name
				%td
					= form_tag set_up_a_meeting_path(params[:id],friend.id), :method => :get do
						= label(:curr_date, 'Date:')
						= text_field_tag(:curr_date)
						= submit_tag('Go!')


	%br
	%br
	%br
	= link_to 'Add New Friend',displayUsers_path
	%p.Logout= link_to 'Logout',logout_path
