

%center
	%h1
		= "Welcome" 
		= link_to @currUser.name,showprofile_path 
		= " (ID = #{@currUser.id})"
		%br


	%h2
		= "My Events:"
		%br

	%table#events
		%thead
			%tr
				%th Event Title
				%th Owner
				%th Start Time
				%th End Time
				%th Location
				%th Status
				%th Description
		%tbody
		- @allevents.each do |event|
			%tr
				%td{:class => @title_header}= link_to event.title,user_event_path(params[:id],event.id)
				%td=  User.find_by_id(event.ownerid).name
				%td= event.starttime
				%td= event.endtime
				%td= event.location
				%td= event.status
				%td= event.description

	= link_to 'Add New Event',new_user_event_path(params[:id],nil)
	%br
	%br
	%br

	%h2
		= "My Friends:"
	%center
		%table#events
			%thead
				%tr
					%th Name
			%tbody
			- @friends.each do |friend|
				%tr
					%td=  link_to friend.name,showFriend_path(params[:id],friend.name)
				
					
			
	%br
	%br
	= link_to 'Add New Friend',displayUsers_path
	%br
	%p.Logout= link_to 'Logout',logout_path
