%h2 Details about #{@currUser.name}

%ul#details
  %li
    First Name:
    = @currUser.first_name
  %li
    Last Name:
    = @currUser.last_name
  %li
    About:
    = @currUser.about
  %li
    Gender:
    = @currUser.gender

  %li
    Work:
    = @currUser.work

  %li
    Email:
    = @currUser.email


  %li
    Education:
    = @currUser.education
    
