%h2 Details about #{@event.title}

%ul#details
  %li
    Start Time:
    = @event.starttime
  %li
    End Time:
    = @event.endtime
  %li
    Status:
    = @event.status
  %li
    Location:
    = @event.location

%h3 Description:

%p#description= @event.description

%h1
  = link_to 'Delete',user_event_path,:method => :delete
  = link_to 'Edit',edit_user_event_path(session[:user_id], @event.id)




